body {
    background-color: rgb(0, 0, 0);
}
h1 {
    color: rgb(232, 225, 125);
    margin-left: 20px;
}
div {
    display: flex;
    width: 900px;
    height: 190px;    
    justify-content: space-between;
}
.logo-banner {
    display: flex;
    align-items: center;
}
.logo, .banner {
    width: auto;
    height: auto;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.flex > * {
    padding: 1rem;
}
.content {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 250px;
    height: 250px;
}
.flex a p {
    font-family: Arial;
    font-weight: bold;
}
.flex a {
    color: rgb(197, 188, 106);
}
.game-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}
.welcome{
  display: flex;
  align-items: center;
  font-family:'coolvectica'; 
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-size: xxx-large;
}
.game-container > * {
  width: 3rem;
  height: 2rem;
}
.game-img {
  width: 250px;
  height: 250px;
  margin-right: 2rem;
}
.game-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.game-link {
  color: rgb(197, 188, 106);
}

 @font-face { font-family: Coolvectica; font-weight: bold; src: url('coolvetica rg.otf');}