body {
    background-color: rgb(0, 0, 0);
  }
  
  h1 {
    color: rgb(232, 225, 125);
    margin-left: 20px;
  }
  div {
    display: flex;
    width: 400px;
    height: 100px;    
    justify-content: space-between;
  }

 @font-face { font-family: Coolvectica; font-weight: bold; src: url('coolvetica rg.otf');}