body {
    background-color: black;
}
div {
    display: flex;
    width: 1000px;
    height: 190px;    
    justify-content: space-between;
}
.img-banner {
    display: flex;
    align-items: center;
}
.flex > * {
    padding: 1rem;
}
.content {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex a p {
    font-family: Arial;
    font-weight: bold;
}
.flex a {
    color: rgb(197, 188, 106);
}
.game-container {
display: flex; margin-bottom: 150px;
}
.welcome{
  display: flex;
  align-items: center;
  font-family:'coolvectica'; 
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-size: xxx-large;
  color:rgb(232, 225, 125);
}
a {
color: #bfddf5;
}
p {
color : lemonchiffon;	
}
.moddb{
color:lightpink;
}
.itchio{
color:lightsteelblue;
}
