body{
    background-color:black;
    color:lemonchiffon;
    white-space: nowrap;
    font-family: "Times New Roman", Times, serif;
}

a{
    color:#bfddf5;
}

.itchio{
    color:lightsteelblue;
}

.moddb{
    color:pink;
}

.flex{
    color:lemonchiffon;
}

.imgbanner{
    display: inline-block;
    width: 50%;
    height: 100%;
}

.navbar{
    color:lemonchiffon;
    display: inline-block;
    width: 30%;
    height: 100%;
}

.welcome{
    font-size:xxx-large;
    font-weight: bold;
}
